<!DOCTYPE html>
<html lang="" ja">

<head>
    <title>ユーザー認証</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}" />
    <style>
        @font-face {
            font-family: "japanese";
            src: url("{{ url_for('static', filename='fonts/GenShinGothic-Monospace-Medium.ttf') }}");
        }

        body {
            font-family: "japanese"
        }
    </style>
</head>

<body>
    <h1>サインアップに完了しました</h1>
    <p>{{ info.user_name }}</p>
    <p>{{ info.password }}</p>
</body>

</html>